*{
    margin: 0;
}
h1{
    text-align: center;
    margin: 20px 0 20px 0;
}
.content1{
    background: linear-gradient(#45484a, #65727c);
    width: 320px;
    height: 900px;
    float: left;
    margin: 0 0 100px 150px;
    color: white;
    font-family:sans-serif;
}
.QR{
    position: absolute; 
    width: 100px;
    height: 100px;
    margin: 0 0 0 1620px;
    
}
.foto{
    float: left;
    border-radius: 50%;
    width:250PX;
    height: 250px;
}
.content2{
    float: left;
    font-family:sans-serif;
}
.textizq{
    margin: 0 0 0 50px;
}
.Titulob{
    background:#82b1ff;
    height: 30px;
    margin: 50px 10% 50px 0;
    padding: 20px  0 10px 0;
}
pre{
    font-family: sans-serif;
}